body{
    background-color: #e3e4e5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.card{
    background-color: white;
    align-content: center;
    border-radius: 5%;
    width: 400px;
    margin:50px auto;
}

form{
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
}
h2{
    color:black;
    font: size 1.75em;;
    text-align: center;
} 

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

.social-login{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-login button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
    display: flex;
    align-items: center; 
    background-color: white;
}

.google-btn{
    border: 1px solid #ccc;
    font-weight: bold;
}

.fb-btn{
    border: 2px solid #3b5998;
    width: 40px;
    height: 40px;
  
    }

.google-btn img,
.fb-btn img {
    width: 20px;
    height: 20px;
}

.or{
 display:flex;
 align-items: center;
 margin:20px 0;
}

.or::before,
.or::after{
    content:'';
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
}

.or span{
    padding: 0 10px;
}

.email-login label,
.email-login input {
  display: block;
  color: #ccc;
  margin-bottom: 20px;
}

.cta-btn{
    display: flex;
    align-items: center;
    background-color: #3b5998;
}


.forget-pass{
    display: block;
    align-content: center;
    margin: 20px auto;
    
}