body{
    background-color: #e3e4e5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.card{
    background-color: white;
    align-content: center;
    border-radius: 5%;
    width: 400px;
    margin:50px auto;
}

form{
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
}

h2{
    color:black;
    font: size 1.75em;;
    text-align: center;
}

.subtitle a {
    text-decoration: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

.btn-text {
    margin: 0;
}

.social-login{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 5px;
    margin-bottom: 20px;
}

.social-login button {
    border-radius: 5px;
    cursor:pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.google-btn{
    border: 1px solid #ccc;
    font-weight: bold;
    justify-content: center;
    flex: 1;
    gap: 5px;
}

.fb-btn{
    border: 2px solid #3b5998;
    justify-content: center;
    }

.google-btn img,
.fb-btn img {
    width: 20px;
    height: 20px;
}

.or{
    display:flex;
    align-items: center;
    margin:20px 0;
}

.or::before,
.or::after{
    content:'';
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
}

.or span{
    padding: 0 10px;
}

.email-login label {
    display: block;
    color: #ccc;
    margin-bottom: 5px;
}

.email-login input {
    display: block;
    color: #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: #ccc;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.cta-btn{
    display: flex;
    color :white;
    justify-content: center;
    padding: 10px;
    background-color: #4644b6;
    border-radius: 5px;
    width: 100%;
}


.forget-pass{
    display: block;
    text-align: center;
    margin: 20px auto;
    text-decoration: none;
}